@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.4em;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

input, textarea {
  background-color: white !important;
  color: rgb(160, 160, 159) !important;
}

img.logo-image {
  min-height: 20px;
  max-width: 200px;
}