@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}


.animate-grow {
  animation: grow 2s ease-out forwards;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.4em;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

input, textarea {
  background-color: rgb(240, 240, 240) !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 400 !important;
}

img.logo-image {
  min-height: 20px;
  max-width: 200px;
}